<!DOCTYPE HTML>
<html>
<head>
    <link href="~/Shared/_LayOut.css" rel="stylesheet" />
</head>
<body>


    <footer>
        <div class="BigBox">
        </div>
        <div class="box">
            <div class="hyperlink"><p>
    <a href="~/Pages/TermsAndCondition.cshtml" style="color:red"> Terms of Service </a> | <a href="#">Newest </a> | <a href="~/Pages/About Me.cshtml" style="color:red">About Me</a>
</p></div>
            <div class="SocialMedia">

                <a href="https://www.twitter.com/%22%3E"> <img src="~/Images/Twitter.png" /> </a>
                <a href="https://www.facebook.com/%22%3E"> <img src="~/Images/Facebook.png" /> </a>
                
            </div>
            <div class="anders">
                <p />&copy; Jos zijn robots.nl
            </div>
        </div>


    </footer>
</body>
</html>