@using WebMatrix.WebData;
@{
    var value = WebSecurity.CurrentUserName;
    string name = Convert.ToString(Session["name"]);

    bool admin = false;
    bool teen = false;
    bool child = false;
    bool adult = false;
    bool loggedIn = false;



    if (Session["admin"] != null)
    {
        admin = Convert.ToBoolean(Session["admin"]);
    }
    if (Session["teen"] != null)
    {
        teen = Convert.ToBoolean(Session["teen"]);
    }
    if (Session["child"] != null)
    {
        child = Convert.ToBoolean(Session["child"]);
    }
    if (Session["adult"] != null)
    {
        adult = Convert.ToBoolean(Session["adult"]);
    }
    if (Session["LoggedIn"] != null)
    {
        loggedIn = Convert.ToBoolean(Session["LoggedIn"]);
    }
}
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/Shared/LayOut.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="sticky-top">
        <div class="nav">
            @if (loggedIn)
            {
                if (child)
                {
                    <a style="text-decoration:none; color: #fff" href="Homepage.cshtml?view=child&page=1">Home</a>
                    <a style="text-decoration:none; color: #fff" href="~/Pages/About Me.cshtml">About Me</a>
                    <div class="ml-auto">
                        <a style="text-decoration:none; color: #fff" href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
                if (teen)
                {
                    <a style="text-decoration:none; color: #fff" href="Homepage.cshtml?view=teen&page=1">Home</a>
                    <a style="text-decoration:none; color: #fff" href="~/Pages/About Me.cshtml"></a>
                    <div class="ml-auto">
                        <a style="text-decoration:none; color: #fff" href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
                if (adult)
                {
                    <a style="text-decoration:none; color: #fff" href="Homepage.cshtml?view=adult&page=1">Home</a>
                    <a style="text-decoration:none; color: #fff" href="~/Pages/About Me.cshtml"></a>
                    <div class="ml-auto">
                        <a style="text-decoration:none; color: #fff" href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
                if (admin)
                {
                    <a style="text-decoration:none; color: #fff" href="Homepage.cshtml?view=adult&page=1">Home</a>
                    <a style="text-decoration:none; color: #fff" href="~/Pages/About Me.cshtml"></a>
                    <div class="ml-auto">
                        <a style="text-decoration:none; color: #fff" href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
                else
                {
                    <a style="text-decoration:none; color: #fff" href="~/Pages/beginpagina.cshtml">Home</a>
                }
            }
            @if (loggedIn == false)
            {
                if (child)
                {
                    <a style="text-decoration:none; color: #fff" href="Homepage.cshtml?view=child&page=1">Home</a>
                    <a style="text-decoration:none; color: #fff" href="~/Pages/About Me.cshtml">About Me</a>
                    <div class="ml-auto">
                        <a style="text-decoration:none; color: #fff" href="~/Pages/Log In.cshtml">Log In</a>
                    </div>
                }
                if (teen)
                {
                    <a style="text-decoration:none; color: #fff" href="Homepage.cshtml?view=teen&page=1">Home</a>
                    <a style="text-decoration:none; color: #fff" href="~/Pages/About Me.cshtml">About Me</a>
                    <div class="ml-auto">
                        <a style="text-decoration:none; color: #fff" href="~/Pages/Log In.cshtml">Log In</a>
                    </div>
                }
                if (adult)
                {
                    <a style="text-decoration:none; color: #fff" href="Homepage.cshtml?view=adult&page=1">Home</a>
                    <a style="text-decoration:none; color: #fff" href="~/Pages/About Me.cshtml">About Me</a>
                    <div class="ml-auto">
                        <a style="text-decoration:none; color: #fff" href="~/Pages/Log In.cshtml">Log In</a>
                    </div>
                }
                else
                {
                    <a style="text-decoration:none; color: #fff" href="~/Pages/beginpagina.cshtml">Home</a>
                }
            }

        </div>
    </header>
</body>
</html>