@using WebMatrix.WebData;
@{
    var value = WebSecurity.CurrentUserName;
    string name = Convert.ToString(Session["name"]);
    var view = "";

    if (!Request.QueryString["view"].IsEmpty())
    {
        view = Request.QueryString["view"];
    }

    bool admin = false;
    bool teen = false;
    bool child = false;
    bool adult = false;
    bool loggedIn = false;


    string check = Request.QueryString["view"];
    if (check == "child")
    {
        child = true;
    }
    if (check == "teen")
    {
        teen = true;
    }
    if (check == "adult")
    {
        adult = true;
    }
    if (check == "child")
    {
        child = true;
    }

    if (Session["admin"] != null)
    {
        admin = true;
    }


    if (Session["LoggedIn"] != null)
    {
        loggedIn = Convert.ToBoolean(Session["LoggedIn"]);
    }
}
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/Shared/LayOut.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="sticky-top">
        <div class="nav">
            @if (loggedIn)
            {
                if (child)
                {
                    <a href="Homepage.cshtml?view=child&page=1">Home</a>
                    <a href="~/Pages/About Me.cshtml">About Me</a>
                    <a href="~/Pages/Upload.cshtml">Upload</a>
                    <div class="ml-auto">
                        <a href="Homepage.cshtml?view=teen&page=1">Teen</a>
                        <a href="Homepage.cshtml?view=adult&page=1">Adult</a>
                        <a href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
                if (teen)
                {
                    <a href="Homepage.cshtml?view=teen&page=1">Home</a>
                    <a href="~/Pages/About Me.cshtml">About Me</a>
                    <a href="~/Pages/Upload.cshtml">Upload</a>
                    <div class="ml-auto">
                        <a href="Homepage.cshtml?view=child&page=1">Child</a>
                        <a href="Homepage.cshtml?view=adult&page=1">Adult</a>
                        <a href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
                if (adult)
                {
                    <a href="Homepage.cshtml?view=adult&page=1">Home</a>
                    <a href="~/Pages/About Me.cshtml">About Me</a>
                    <a href="~/Pages/Upload.cshtml">Upload</a>
                    <div class="ml-auto">
                        <a href="Homepage.cshtml?view=child&page=1">Child</a>
                        <a href="Homepage.cshtml?view=teen&page=1">Teen</a>
                        <a href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
                else
                {
                    <a href="Homepage.cshtml?view=@view&page=1">Home</a>
                    <a href="~/Pages/About Me.cshtml">About Me</a>
                    <a href="~/Pages/Upload.cshtml">Upload</a>
                    <div class="ml-auto">
                        <a href="Homepage.cshtml?view=child&page=1">Child</a>
                        <a href="Homepage.cshtml?view=teen&page=1">Teen</a>
                        <a href="~/Pages/LogOut.cshtml">Log Out</a>
                    </div>
                }
            }
            @if (loggedIn == false)
            {
                if (child)
                {
                    <a href="Homepage.cshtml?view=child&page=1">Home</a>
                    <a href="~/Pages/About Me.cshtml">About Me</a>
                    <div class="ml-auto">
                        <a href="~/Pages/Log In.cshtml">Log In</a>
                    </div>
                }
                if (teen)
                {
                    <a href="Homepage.cshtml?view=teen&page=1">Home</a>
                    <a href="~/Pages/About Me.cshtml">About Me</a>
                    <div class="ml-auto">
                        <a href="~/Pages/Log In.cshtml">Log In</a>
                    </div>
                }
                if (adult)
                {
                    <a href="Homepage.cshtml?view=adult&page=1">Home</a>
                    <a href="~/Pages/About Me.cshtml">About Me</a>
                    <div class="ml-auto">
                        <a href="~/Pages/Log In.cshtml">Log In</a>
                    </div>
                }
                if (child == false && teen == false && adult == false && admin == false)
                {
                    <a href="~/Pages/beginpagina.cshtml">Home</a>
                    <div class="ml-auto">
                        <a href="~/Pages/Log In.cshtml">Log In</a>
                    </div>
                }
            }

        </div>
    </header>
</body>
</html>