@using WebMatrix.WebData;
@{

    bool admin = Convert.ToBoolean(Session["admin"]);
    string name = Convert.ToString(Session["name"]);
}
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/Shared/_LayOut.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="sticky-top">
        <div class="nav">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            @if (admin)
            {
                <div>
                    <a href="#Logged in">Hello, @name </a>

                </div>

            }
        </div>
    </header>
</body>
</html>