.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: red;
}

p a {
    color: black;
}

footer {
    display: block;
}

img {
    height: auto;
    max-width: 100%;
    border: 0;
}


.BigBox {
    background: #0e6090;
    margin-top: 50px;
    padding: 50px 0 0;
}

.box {
    overflow: hidden;
    background: #0a486c;
    padding: 18px 0;
    color: #53B2D5;
    font-size: 1em;
}

    .box p {
        color: #FFF;
    }

    .box a {
        color: red;
        text-decoration: none;
    }

.hyperlink {
    float: left;
    padding-left: 15px;
}

.SocialMedia {
    float: right;
}

    .SocialMedia img {
        width: 36px;
        height: 36px;
    }

.anders p {
    clear: both;
    text-align: center;
}