.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: red;
}

p a {
    color: black;
}

footer {
    display: block;
}

img {
    height: auto;
    max-width: 100%;
    border: 0;
}


.BigBox {
    background: #0e6090;
    margin-top: 50px;
    padding: 50px 0 0;
}

.box {
    overflow: hidden;
    background: #0a486c;
    padding: 18px 0;
    color: #53B2D5;
    font-size: 1em;
}

    .box p {
        color: #FFF;
    }

    .box a {
        color: red;
        text-decoration: none;
    }

.hyperlink {
    float: left;
    padding-left: 15px;
}

.SocialMedia {
    float: right;
}

    .SocialMedia img {
        width: 36px;
        height: 36px;
    }

.anders p {
    clear: both;
    text-align: center;
}

.boxie1 {
    background-color: #53B2D5;
}

.boxie2 {
    background-color: #333;
}
.boxie1 p {
    margin-bottom: 0 !important; /*How to beat bootstrap*/
}
.boxie2 p {
    margin-bottom: 0 !important; /*How to beat bootstrap*/
}
.body {
    background-color: #333;
}

.step1{
    grid-area: stap1;
    justify-self: center;
    align-self:center;
}

.image {
    grid-area: image;
    justify-self: center;
    align-self: center;
}

.step2 {
    grid-area: stap2;

}

.step3 {
    grid-area: stap3;

}

.step4 {
    grid-area: stap4;
    justify-self: center;
    align-self: center;
}

.step5 {
    grid-area: stap5;
    justify-self: center;
    align-self: center;
}

.step6 {
    grid-area: stap6;
    justify-self: center;
    align-self: center;
}

.information-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f2f2f2;
    grid-auto-rows: auto;
    grid-template-areas: 
        "... image ..." 
        "... image ..." 
        "stap1 stap2 stap3" 
        "stap4 stap5 stap6" 
        "stap7 stap7 stap7";
    grid-gap: 3em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 30px;
}