<!DOCTYPE html>
<html>
<head>
    <title>CyberDyne</title>
</head>
<body>
    <form>
        <div>
<<<<<<< HEAD
            <p>hello from the other side
           </p>
        </div>
    </form>
=======
            <p>mongool <strong>doe</strong> het</p>
>>>>>>> gerlof

        </div>
    </form>
</body>
</html>
