<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Kevin.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")

    <div class="about-me-grid">
        <div class="image">
            <img class="image" style="width:300px; height:auto;" src="/Images/0.jpg" />
        </div>

        <div class="text">
            <p class="text">
                Hallo, </br>
                </br>
                Mijn naam is Jos Foppele. Ik ben een docent aan het NHL Hogeschool in Leeuwarden.
                Ik geef les aan de opleiding HBO-ICT.
                Ik heb deze website opgezet om mijn passie over robots te delen met jullie.
                Mijn doel met deze website is om zoveel mogelijk mensen te passioneren over robots.
                <pre style="font-weight: bold;">Meer dan het verleden interesseert mij de toekomst, want daarin ben ik van plan te leven.</br>- Albert Einstein</pre></br>
                Dit is één van mijn favoriete quotes, omdat ik graag in de toekomst wil leven en robots zijn de toekomst. Doe nu mee voor het te laat is:
                bouw je eigen robot, bouw je eigen toekomst. <br />
                Long live Skynet!</p>
                <pre style="font-weight: bold;">Veni Vidi Vici</br>- Julius Caesar</pre>
        </div>

       

        <div class="fixed-bottom">

            @RenderPage("~/Shared/_Footer.cshtml")
        </div>
</body>
</html>
