<!DOCTYPE html>
<html>
<head>
    <title>Naam_robot</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/David.css" rel="stylesheet" />
</head>
<body>
    <div class="header sticky-top">
        <!--Hier komt de header.-->
    </div>

    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner" width="1920">
    </div>

    <div class="center">
        <p>
            <div style="text-align:center">

                <a href="#">
                    <div class="leeftijdsbutton">
                        3 t/m 6
                    </div>
                </a>
                <a href="#">
                    <div class="leeftijdsbutton">
                        6 t/m 12
                    </div>
                </a>
                <a href="#">
                    <div class="leeftijdsbutton">
                        12 en ouder
                    </div>
                </a>


            </div></p>
</div>
    
</body>
</html>
