@{
    Validation.RequireField("username", "Je moet een username invullen");
    Validation.RequireField("password", "Je moet een wachtwoord invullen");
    Validation.RequireField("email", "Incorrect emailadress");
    Validation.RequireField("ConfirmPassword", "Je hebt niks ingevuld");
    Validation.Add("password", Validator.EqualsTo("ConfirmPassword", "Wachtwoorden komen niet overeen"));

    var UserName = "";
    var PassWord = "";
    var ConfirmPassWord = "";
    var errorMessage = "";
    
    if (!IsPost)
    {
        if (WebSecurity.IsAuthenticated)
        {
            errorMessage = String.Format("You are already logged in. (User name: {0})", WebSecurity.CurrentUserName);
        }
    }

    if (IsPost)
    {
        WebSecurity.Logout();

        UserName = Request["UserName"];
        PassWord = Request["PassWord"];
        ConfirmPassWord = Request["ConfirmPassWord"];

        if (PassWord != ConfirmPassWord)
        {
            errorMessage = "Passwords don't match.";
        }
        else
        {
            if (WebSecurity.UserExists(UserName))
            {
                errorMessage = String.Format("User '{0}' already exists.", UserName);
            }
            else
            {
                WebSecurity.CreateUserAndAccount(UserName, PassWord, false);
                WebSecurity.Login(UserName, PassWord, true);

                Session["LoggedIn"] = true;
                errorMessage = String.Format("{0} created.", UserName);
                Response.Redirect("~/Pages/Homepage.cshtml?view=adult&page=1");
            }
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Style.css" rel="stylesheet" />
    <title>Create Account</title>
</head>

<body class="Create-Account-Page">
    @RenderPage("~/Shared/_Header.cshtml")

    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand offset-2">
                        <img src="" />
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Create Account</h4>
                            <form method="POST">

                                <div class="form-group">
                                    <label for="UserName">Username</label>

                                    <input id="UserName" type="text" class="form-control" name="UserName" value="@Request["UserName"]" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>

                                    <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="password">
                                        Password
                                    </label>
                                    <input id="password" type="password" class="form-control" name="PassWord" required data-eye>
                                </div>
                                <div class="form-group">
                                    <label for="Confirm password">
                                        Confirm Password
                                    </label>
                                    <input id="password" type="password" class="form-control" name="ConfirmPassWord" required data-eye>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>

                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Create
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="fixed-bottom">
        @RenderPage("~/Shared/_Footer.cshtml")
    </div>
</body>


</html>
