<!DOCTYPE html>
<html>
<head>
    <title>FAQ - Veelgestelde vragen</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="header sticky-top">
        <!--Hier komt de header.-->
    </div>

    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner">
    </div>

    <main>
        <div>
            <ul>
                <li>Vraag 1</li>
                <li>Vraag 2</li>
                <li>Vraag 3</li>
                <li>Vraag 4</li>
                <li>Vraag 5</li>
                <li>Vraag 6</li>
            </ul>
        </div>
    </main>

    <footer>
        <div>
            <p>Footer text</p>
        </div>
    </footer>


</body>
</html>
