<!DOCTYPE html>
<html>
<head>
    <title>FAQ - Veelgestelde vragen</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Kevin.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")

    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner">
    </div>

    <div class="text">
        <ul style="list-style-type:none">
            <li><strong>V: Vraag 1?</strong></li>
            <li>A: Antwoord 1</li>
            <br />
            <li><strong>V: Vraag 2?</strong></li>
            <li>A: Antwoord 2</li>
            <br />
            <li><strong>V: Vraag 3?</strong></li>
            <li>A: Antwoord 3</li>
            <li><strong>V: Vraag 1?</strong></li>
            <li>A: Antwoord 1</li>
            <br />
            <li><strong>V: Vraag 2?</strong></li>
            <li>A: Antwoord 2</li>
            <br />
            <li><strong>V: Vraag 3?</strong></li>
            <li>A: Antwoord 3</li>
            <li><strong>V: Vraag 1?</strong></li>
            <li>A: Antwoord 1</li>
            <br />
            <li><strong>V: Vraag 2?</strong></li>
            <li>A: Antwoord 2</li>
            <br />
            <li><strong>V: Vraag 3?</strong></li>
            <li>A: Antwoord 3</li>
        </ul>
    </div>
    <div class="fixed-bottom">
        @RenderPage("~/Shared/_Footer.cshtml")
    </div>
    
</body>
</html>
