<!DOCTYPE html>
<html>
<head>
    <title>FAQ - Veelgestelde vragen</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Style.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")

    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner">
    </div>

    <div class="text">
        <ul style="list-style-type:none">
            <li><strong>V: Waarom stel ik deze vraag?</strong></li>
            <li>A: Ik heb geen idee.</li>
            <br />
            <li><strong>V: Waarom stel ik deze vraag?</strong></li>
            <li>A: Alweer?</li>
            <br />
            <li><strong>V: Waarom stel ik deze vraag?</strong></li>
            <li>A: Kappen nou..</li>
        </ul>
    </div>

    <div class="robot-grid">
        <div class="image">
            <img class="image" src="http://via.placeholder.com/500x350?text=image">
        </div>
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
            </p>
        </div>
        <div class="store">
            <a href="#">Store</a>
        </div>
        <div class="info">
            <a href="#">Info</a>
        </div>
        <div class="tutorial">
            <a href="#">Tutorial</a>
        </div>
    </div>

    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
