<!DOCTYPE html>
<html>
<head>
    <title>(Robot_Naam)</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="header sticky-top">
        <!--Hier komt de header.-->
    </div>

    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner" width="1920">
    </div>

    <h1 style="text-align:center;">

        <strong>(Naam_Robot)</strong>
    </h1>
    <div style="text-align: center;">
        <p>
            <img style="border:5px solid red;" src="http://via.placeholder.com/800x400?text=image">

            <div class="informatiekadertje">
                Feit
            </div>
            <div class="informatiekadertje">
                Feit
            </div>
            <div class="informatiekadertje">
                Feit
            </div>
        </p>
        </div>
        <div style="text-align: center;">
            <p>
                <a href="#">
                    <div class="leeftijdsbutton">
                        Store
                    </div>
                </a>
                <a href="#">
                    <div class="leeftijdsbutton">
                        Info
                    </div>
                </a>
                <a href="#">
                    <div class="leeftijdsbutton">
                        Tutorial
                    </div>
                </a>
            </p>
        </div>
        <div class="footer">
        </div>
</body>
</html>
