<!DOCTYPE html>
<html>
<head>
    <title>(Naam_Robot)</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/David.css" rel="stylesheet" />
</head>
<body link="red">
    <div class="header sticky-top">
        <!--Hier komt de header.-->
    </div>

    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner" width="1920">
    </div>



    <div class="linker" style="padding-left:40px; border: 5px solid red; border-radius:5px">
        <ul style="font-size:120%; text-decoration:none; color:red; ">
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
        </ul>
    </div>
    <div class="middelste" align="center">

        <div class="plaatje12">
            <img style="border:5px solid red;" src="http://via.placeholder.com/800x500?text=image" class="center">

        </div>

    </div>
    <div class="rechter" style="border:5px solid black; border-radius:5px;" >
        <ul style="font-size:120%">
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
        </ul>
    </div>


</body>
</html>
