<!DOCTYPE html>
<html>
<head>
    <title>(Naam_Robot)</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/David.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")

    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner" width="1920">
    </div>



    <div class="linker">
        <ul>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
            <li><a href="#">Link naar andere robot</a></li>
        </ul>
    </div>
    <div class="middelste" align="center">

        <div class="plaatje12">
            <img style="border:5px solid red;" src="http://via.placeholder.com/600x400?text=image" class="center">

        </div>

    </div>
    <div class="rechter">
        <ul>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
            <li>Hier komt een feitje te staan over de robot</li>
        </ul>
    </div>


    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
