<!DOCTYPE html>
<html>
<head>
    <title>(Naam_Robot)</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/David.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")


    <div class="container-banner">
        <img class="banner" src="http://via.placeholder.com/1920x400?text=Banner" width="1920">
    </div>



    <h1 style="text-align:center;">

        <strong>(Naam_Robot)</strong>
    </h1>

    <div style="text-align: center;">
        <p><img style="border:5px solid red;" src="http://via.placeholder.com/800x400?text=image" class="center"></p>
    </div>

    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
