
<!DOCTYPE html>
<html>
<head>
    <title>(Naam_Robot)</title>
    <link href="~/Shared/LayOut.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")

    <div class="boxie1">
        <p> hfalnflanfwalnf</p>
        </br>
        <p> guhalnalnclwain</p>
        <hr />
        <p> obavnailwvn</p>

    </div>
    <div class="boxie2">
        <p> nalnwcliwancalncwnciaownclawknicaiwcnlaincaiwlcnailwncailw niacnaiwnwilcnwaicnawocnawicnawicaw
        cawmciawcipcnawipc</br> niwaonfiwnvwiwanINVaiw</p>

    </div>

    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
