<!DOCTYPE html>
<html>
<head>
    <link href="~/CSS/Kevin.css" rel="stylesheet" />
    <title>Terms and Conditions</title>
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")

    <div class="terms-grid">
        <div class="side-navigation">
            <ul>
                <li>
                    <a href="#1">Introduction</a>
                </li>

                <li>
                    <a href="#2">Intellectual Property Rights</a>
                </li>

                <li>
                    <a href="#3">Restrictions</a>
                </li>

                <li>
                    <a href="#4">Your Content</a>
                </li>

                <li>
                    <a href="#5">No Warranties</a>
                </li>

                <li>
                    <a href="#6">Limitation of liability</a>
                </li>

                <li>
                    <a href="#7">Indemnification</a>
                </li>

                <li>
                    <a href="#8">Severability</a>
                </li>

                <li>
                    <a href="#9">Varation of Terms</a>
                </li>

                <li>
                    <a href="#10">Assignment</a>
                </li>

                <li>
                    <a href="#11">Entire Agreement</a>
                </li>

                <li>
                    <a href="#12">Governing Law & Jurisdiction</a>
                </li>
            </ul>
        </div>

        <div class="terms-and-conditions">
            <div>
                <h1>Terms and Condition</h1>
            </div>
            <div>

                <span class="anchor" id="1"></span>
                <div>
                    <h3>Introduction</h3>
                    <p>
                        These Website Standard Terms and Conditions written on this webpage shall manage your use of this
                        website. These Terms will be applied fully and affect to your use of this Website. By using this
                        Website, you agreed to accept all terms and conditions written in here. You must not use this Website
                        if you disagree with any of these Website Standard Terms and Conditions.
                    </p>
                </div>

                <span class="anchor" id="2"></span>
                <div>
                    <h3>Intellectual Property Rights</h3>
                    <P1>
                        Other than the content you own, under these Terms, CyberDyne and/or its licensors own all the
                        intellectual property rights and materials contained in this Website.<br />
                        You are granted limited license only for purposes of viewing the material contained on this Website.
                    </P1>
                </div>

                <span class="anchor" id="3"></span>
                <div>
                    <h3>Restrictions</h3>
                    <p>You are specifically restricted from all of the following</p>
                    <ul>
                        <li>
                            publishing any Website material in any other media;
                        </li>
                        <li>
                            selling, sublicensing and/or otherwise commercializing any Website material;
                        </li>
                        <li>
                            publicly performing and/or showing any Website material;
                        </li>
                        <li>
                            using this Website in any way that is or may be damaging to this Website;
                        </li>
                        <li>
                            using this Website in any way that impacts user access to this Website;
                        </li>
                        <li>
                            using this Website contrary to applicable laws and regulations, or in any way may cause harm to
                            the Website, or to any person or business entity;
                        </li>
                        <li>
                            engaging in any data mining, data harvesting, data extracting or any other similar activity in relation
                            to this Website;
                        </li>
                        <li>using this Website to engage in any advertising or marketing.</li>
                    </ul>
                    <p1>
                        Certain areas of this Website are restricted from being access by you and CyberDyne may further
                        restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID
                        and password you may have for this Website are confidential and you must maintain confidentiality as
                        well.
                    </p1>
                </div>

                <span class="anchor" id="4"></span>
                <div>
                    <h3>Your Content</h3>
                    <p>
                        In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text,
                        images or other material you choose to display on this Website. By displaying Your Content, you grant
                        CyberDyne a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt,
                        publish, translate and distribute it in any and all media.<br />
                        Your Content must be your own and must not be invading any third-party’s rights. CyberDyne
                        reserves the right to remove any of Your Content from this Website at any time without notice.
                    </p>
                </div>

                <span class="anchor" id="5"></span>
                <div>
                    <h3>No Warranties</h3>
                    <p>
                        This Website is provided “as is,” with all faults, and CyberDyne express no representations or
                        warranties, of any kind related to this Website or the materials contained on this Website. Also,
                        nothing contained on this Website shall be interpreted as advising you.
                    </p>
                </div>

                <span class="anchor" id="6"></span>
                <div>
                    <h3>Limitation of liability</h3>
                    <p>
                        In no event shall CyberDyne, nor any of its officers, directors and employees, shall be held liable for
                        anything arising out of or in any way connected with your use of this Website whether such liability is
                        under contract. CyberDyne, including its officers, directors and employees shall not be held liable for
                        any indirect, consequential or special liability arising out of or in any way related to your use of this
                        Website.
                    </p>
                </div>

                <span class="anchor" id="7"></span>
                <div>
                    <h3>Indemnification</h3>
                    <p>
                        You hereby indemnify to the fullest extent CyberDyne from and against any and/or all liabilities, costs,
                        demands, causes of action, damages and expenses arising in any way related to your breach of any
                        of the provisions of these Terms.
                    </p>
                </div>

                <span class="anchor" id="8"></span>
                <div>
                    <h3>Severability</h3>
                    <p>
                        If any provision of these Terms is found to be invalid under any applicable law, such provisions shall
                        be deleted without affecting the remaining provisions herein.
                    </p>
                </div>

                <span class="anchor" id="9"></span>
                <div>
                    <h3>Varation of Terms</h3>
                    <p>
                        CyberDyne is permitted to revise these Terms at any time as it sees fit, and by using this Website you
                        are expected to review these Terms on a regular basis.
                    </p>
                </div>

                <span class="anchor" id="10"></span>
                <div>
                    <h3>Assignment</h3>
                    <p>
                        The CyberDyne is allowed to assign, transfer, and subcontract its rights and/or obligations under
                        these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract
                        any of your rights and/or obligations under these Terms.
                    </p>
                </div>

                <span class="anchor" id="11"></span>
                <div>
                    <h3>Entire Agreement</h3>
                    <p>
                        These Terms constitute the entire agreement between CyberDyne and you in relation to your use of
                        this Website, and supersede all prior agreements and understandings.
                    </p>
                </div>

                <span class="anchor" id="12"></span>
                <div>
                    <h3>Governing Law & Jurisdiction</h3>
                    <p>
                        These Terms will be governed by and interpreted in accordance with the laws of the State of
                        Netherlands, and you submit to the non-exclusive jurisdiction of the state and federal courts located in
                        Netherlands for the resolution of any disputes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
